{% extends "base.html" %}


{% block narrow-content %}
	<div id="about-content" class= "narrow-content">
		<h2>About</h2>
		<p>
			This is my about page. This is my about page. This is my about page. This is my about page. This is my about page. This is my about page. This is my about page.This is my about page.
		</p>
		<h2>About</h2>
		<p>
			This is my about page.
		</p>
		<h2>About</h2>
		<p>
			This is my about page. This is my about page. This is my about page. This is my about page. This is my about page. This is my about page. This is my about page.This is my about page.
		</p>

	</div>
{% endblock %}