{% extends "base.html" %}


{% block narrow-content %}
	<div class= "narrow-content">
		<div id="about-content">
			<h2 id= "about-header">About</h2>
			<p class= "about-p">
				This is my about page. This is my about page. This is my about page. This is my about page. This is my about page. This is my about page. This is my about page.This is my about page.
			</p>
			<p class= "about-p">
				This is my about page. This is my about page. This is my about page. This is my about page. This is my about page. This is my about page. This is my about page.This is my about page.
			</p>
			<p class= "about-p">
				This is my about page. This is my about page. This is my about page. This is my about page. This is my about page. This is my about page. This is my about page.This is my about page.
			</p>
			<p class= "about-p">
				This is my about page. This is my about page. This is my about page. This is my about page. This is my about page. This is my about page. This is my about page.This is my about page.
			</p>
			<p class= "about-p">
				This is my about page. This is my about page. This is my about page. This is my about page. This is my about page. This is my about page. This is my about page.This is my about page.
			</p>
			
			<p class= "about-p">
				This is my about page. This is my about page. This is my about page. This is my about page. This is my about page. This is my about page. This is my about page.This is my about page.
			</p>
		
			<p class= "about-p">
				This is my about page. This is my about page. This is my about page. This is my about page. This is my about page. This is my about page. This is my about page.This is my about page.
			</p>
		</div>
	</div>
{% endblock %}