{% extends "base.html" %}


{% block narrow-content %}
	<div class= "narrow-content">
	
		<div id="about-content">
			<h2 id= "about-header">About</h2>
			<p class= "about-p">
				This is my about page. This is my about page. This is my about page. This is my about page. This is my about page. This is my about page. This is my about page.This is my about page.
			</p>
			<p class= "about-p">
				This is my about page. This is my about page. This is my about page. This is my about page. This is my about page. This is my about page. This is my about page.This is my about page.
			</p>
			<p class= "about-p">
				This is my about page. This is my about page. This is my about page. This is my about page. This is my about page. This is my about page. This is my about page.This is my about page.
			</p>
			<p class= "about-p">
				This is my about page. This is my about page. This is my about page. This is my about page. This is my about page. This is my about page. This is my about page.This is my about page.
			</p>
			
			
		</div>
		<div class="hidden" id="blog-content">
			<h2 id= "about-header">Blog</h2>
		</div>
		<div class="hidden" id="resume-content">
			<h2 id= "about-header">Resume</h2>
		</div>
		<div class="hidden" id="project-content">
			<h2 id= "about-header">Projects and Research</h2>
		</div>
	</div>
{% endblock %}