{% extends "m_base.html" %}


{% block narrow-content %}

{% load staticfiles %}
	<div class= "narrow-content">
		<div id="project-content">
			<h2 id= "project-header">Current Projects & Research</h2>
			</br>
			
			<a href="#" id="feature-nav-top" class="prev"><img src = "{% static 'img/arrow-top.jpg'%}"></img></a> </li>
			<a href="#" id="feature-nav-bottom" class="next"><img src = "{% static 'img/arrow-bottom.jpg'%}"></img></a> </li>
		  
			<div id="1" class="feature-holder feature-active">
				<p id="depth-t" class="feature-title">Augmented Reality w/ Depth</p>
				<div class="feature-left">
					<div class="feature-image-snapshot"> <a href="#"><img src= "{% static 'img/kinect.jpg'%}"></img></a></div>
					<div class ="feature-link"><a href="#">interesting...</a></div>
				</div>
				
				<div class="feature-right">
					<p id="depth-d" class="feature-description">
						this is the description for depth sensor based AR. fldsh fsdlhf sdljfh dslfh sdlfh sdlh 
					</p>
				</div>
			</div>
			<div id="2" class="feature-holder hidden">
				<p id="luci-t" class="feature-title">Learn UCI</p>
				<div class="feature-left">
					<div class="feature-image-snapshot"> <a href="https://play.google.com/store/apps/details?id=org.gbc.ucitour&hl=en"><img src= "{% static 'img/luci.jpg'%}"></img></a></div>
					<div class ="feature-link"><a href="#">interesting...</a></div>
				</div>
				
				<div class="feature-right">
					<p id="luci-d" class="feature-description">
						this is the description for luci.
					</p>
				</div>
			</div>
			
			<div id="3" class="feature-holder hidden">
				<p id="aav-t" class="feature-title">Android Vehicle</p>
				<div class="feature-left">
					<div class="feature-image-snapshot"> <a href="https://play.google.com/store/apps/details?id=org.gbc.ucitour&hl=en"><img src= "{% static 'img/aav.jpg'%}"></img></a></div>
					<div class ="feature-link"><a href="#">interesting...</a></div>
				</div>
				
				<div class="feature-right">
					<p id="aav-d" class="feature-description">
						this is the description for the android autonomous vehicle.
					</p>
				</div>
			</div>
			
			
		</div>
	</div>
{% endblock %}

{% block menu-tabs %}
	<ul id="tab-container">
		<li id="about-tab" class="menu-item"><a href="/about">About</a><img src="{% static 'img/tab-blue-w.jpg'%}"></img></li>
		<li id="projects-tab" class = "current-menu-item"><a href="/projects">P + R</a><img src="{% static 'img/tab-green.jpg'%}"></img></li>
		<li id="blog-tab" class = "menu-item"><a href="/blog">Blog</a><img src="{% static 'img/tab-red-w.jpg'%}"></img></li>
	</ul>
{% endblock %}