{% extends "base.html" %}


{% block narrow-content %}
{% load staticfiles %}

	<div class= "narrow-content">
		<div class="blog-content">
			<h2 class= "blog-header">How I Started in Web.</h2>
			<p class= "blog-p">
				This is probably going to get lengthy so bear with me. These posts probably won't be this long in the future.
			</p>
			<p class= "blog-p">
				Ever since I began programming, well in the beginning of college, web programming and design has always been something that has looked very interesting to me. I looked up the basic structure of web pages... integrating some style sheets, <a href="http://en.wikipedia.org/wiki/JavaScript">javascript</a>, and also began to understand the basics of http requests and the uses of a backend server language like <a href="http://us.php.net/">php</a>. But it doesn't take long to realize just how far the rabbit hole can go when it comes to developing in the web. Combined with the fact that the topic really isn't covered in the university makes it a pretty daunting subject to approach without some motivation...
			</p>
			<img src="{% static 'img/icssc.jpg'%}"><img>
			<p class= "blog-p">
				Being in the <a href="http://student-council.ics.uci.edu/">ICS student council</a>, I decided to join one of the projects that was getting established at the time called <a href="http://codeuci.com">Code UCI</a>. A platform for creating classrooms and making coding problems that can be compiled, run and tested right on the web. The website was planning on being used to host a coding competition on campus later that quarter, so after the group brainstormed some web pages and databases were scribbled on the white board development started in a full sprint. 
			</p>
			<img id="cuci" src="{% static 'img/cuci.jpg'%}"><img>
			<p class= "blog-p">
				I decided that I would try and help design and code the home page of the site since anything backend related would take me far too long to understand and implement. The other member that I was working with had a good amount of experience developing in web and knew his way around the html elements and style attributes from memory. It was difficult to contribute without a backbone, so I decided to pair with him instead to try and get a better understanding of what was going on. He was going too fast for me to keep up. I still didnt know the difference between a class and an id and he was trying to explain to me what twitter's bootstrap was for... Long story a little shorter I couldn't find my place on the team at their pace and had to tap out after a few more days, especially as everything naturally became more complex.
			</p>
			

			<p class= "blog-p">
				I had my next go at the interwebs the following year when I heard about <a href="http://student-council.ics.uci.edu/webjam/">WebJam</a>, one of the week long competitions the council hosts every few quarters. I had a much better grip on programming in general and joined the competition with a few of my close friends, one of which was the same guy I tried pairing with in <a href="http://codeuci.com">Cuci</a>. After the first night we set out to develop <a href="http://orcaella.herokuapp.com/">Orcaella</a>, a site for UCI students to register their classes and have real time chat discussions, that opened during the time of the class, and were moderated by the TA.
			</p>
			<img id="webjam" src="{% static 'img/webjam.jpg'%}"><img>
			<p class= "blog-p">
				Due to requirements of the competition we chose to host the site on <a href="https://www.heroku.com/">Heroku</a> with a <a href= "http://nodejs.org/"> Node.js</a> backend because... idk why not? The three of us that joined as friends decided we would work on both the front and back end depending on the current priorities and help the two newer programmers along the way. I contributed to nearly every design decision on the site since we were all in one room, but I ended up working on the backend almost the whole competition, specifically in handling the postgres database requests that would be coming in. The website was a lot of fun to build and we ended up winning the competition in the long run. I learned a lot more the second time around and had quite a bit more confidence when it came to jumping into web frameworks site hosting.
			</p>
			<p class= "blog-p">
				So there is my life story on getting introduced to developing web. This feels way too long to continue into how I built this website you are on so I will make that into a seperate post soon.
			</p>
			<p class= "blog-p">
				I know that was long, thanks for reading!
			</p>
			
		</div>
	</div>
{% endblock %}

{% block menu-tabs %}
	<ul id="tab-container">
		<li id="about-tab" class="menu-item"><a href="/about">About</a></li>
		<li id="projects-tab" class = "menu-item"><a href="/projects">P + R</a></li>
		<li id="blog-tab" class = "current-menu-item"><a href="/blog">Blog</a></li>
	</ul>
{% endblock %}