{% extends "base.html" %}


{% block narrow-content %}

{% load staticfiles %}
	<div class= "narrow-content">
		<div id="project-content">
			<h2 id= "about-header">Projects and Research</h2>
			</br>
			<div class="feature-holder">
				<div class="feature-left">
					<p id="luci-t" class="feature-title">Learn UCI</p>
					<div class="feature-image-snapshot"> <a href="#"><img src= "{% static 'img/luci.jpg'%}"></img></a></div>
					<div class ="feature-link"><a href="#">interesting...</a></div>
				</div>
				
				<div class="feature-right">
					<p id="luci-d" class="feature-description">
						this is the description for luci.
					</p>
				</div>
			</div>
			
			
			
		</div>
	</div>
{% endblock %}

{% block menu-tabs %}
	<ul id="tab-container">
		<li id="about-tab" class="menu-item"><a href="/about">About</a></li>
		<li id="projects-tab" class = "current-menu-item"><a href="/projects">P + R</a></li>
		<li id="blog-tab" class = "menu-item"><a href="/blog">Blog</a></li>
	</ul>
{% endblock %}