{% extends "base.html" %}


{% block narrow-content %}
	<div class= "narrow-content">
		<div id="project-content">
			<h2 id= "about-header">Projects and Research</h2>
			<p class= "about-p">
				Coming Soon!
			</p>
		</div>
	</div>
{% endblock %}

{% block menu-tabs %}
	<ul id="tab-container">
		<li id="about-tab" class="menu-item"><a href="/about">About</a></li>
		<li id="projects-tab" class = "current-menu-item"><a href="/projects">P + R</a></li>
		<li id="blog-tab" class = "menu-item"><a href="/blog">Blog</a></li>
	</ul>
{% endblock %}