html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
  /* The html and body elements cannot have any padding or margin. */
}
a{
	text-decoration: none;
	color: #273132;
}


/* Wrapper for page content to push down footer */
#main-content {
	min-height: 100%;
	/*height: auto !important;*/
	/* Negative indent footer by its height */
	margin: 0 auto -60px;
	/* Pad bottom by footer height */
	padding: 0 0 60px;
}

.narrow-content{
	margin: 0 auto;
	min-width: 500px;
	max-width: 800px;
	padding: 60px 0;
	width: 75%;
}

.menu-item{
	color: #273132;
	background: rgba(255, 255, 255, 1.0);
}

.menu-item a:hover, a:focus {
	color: #273132;
}

.current-menu-item{
	background: #273132;
	color: rgba(255, 255, 255, 1.0);
}

.current-menu-item a{
	color: rgba(255, 255, 255, 1.0);
}

.current-menu-item a:hover, a:focus {
	color: rgba(255, 255, 255, 1.0);
}
#contact-image{
	/*background: url() no-repeat;*/
	display: block;
	height: 145px;
	width: 205px;
}

#contact-container{
	bottom: 0;
	left: 5%;
	position: fixed;
}

li{
	font: inherit;
	background: rgba(255, 255, 255, 0.7);
	display: inline-block;
	height: 100%;
	padding: 5px;
	padding-top:3px;
	transition: background 0.5s ease-in;
	border-radius: 2px 2px 0 0;
}

#footer-tab-container{
	margin: 0;
	
}


#tab-container{
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	bottom: -10px;
	right: 5%;
	height: 90%;
	position: absolute;
}





/* Set the fixed height of the footer here */
footer {
	bottom: 0;
	height:	10%;
	min-height: 60px;
	position: absolute;
	text-transform: uppercase;
	width: 100%;
	font-size: 1.8em;
	font-style: normal;
	font-weight: normal;
	line-height: 1.2em;
}