html,
body {
	height:100%;
	font-size: 100%;
	vertical-align: baseline;
}
a{
	text-decoration: none;
	color: #273132;
}


/* Wrapper for page content to push down footer */
#main-content {
	
	/*height: auto !important;*/
	/* Negative indent footer by its height 
	margin: 0 auto;*/
	min-height:100%
}

.narrow-content{
	margin: 0px auto 0;
	min-width: 500px;
	max-width: 800px;
	padding-bottom: 80px;
	padding-top:60px;
	width: 100%;	
}

#tab-container{
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	font-size: 0.9em;
	height: 8%;
	position: fixed;
	bottom: -10px;
	-webkit-animation: fadein 1s;
	animation: fadein 1s;
    -moz-animation: fadein 1s;
}

	

/* Set the fixed height of the footer here */
footer {
	bottom: 0;
	height:  10%;
	min-height: 60px;
	position: absolute;
	width:100%;
	text-transform: uppercase;
	clear:both;
	font-size: 1.2em;
	font-style: normal;
	font-weight: normal;
	line-height: 1.2em;
}

